<div class="card">
    <div class="card-header fs-5">Thêm sản phẩm</div>
    <hr>
    
    <div class="card-body">
        <form action="" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)" class="col-8">
            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Tên sản phẩm">

                <app-validate-form [formField]="postForm.get('name')" key="Tên sản phẩm">
                </app-validate-form>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Giá sản phẩm</label>
                <input type="text" class="form-control" formControlName="price" placeholder="Giá sản phẩm">

                <app-validate-form [formField]="postForm.get('price')" key="Giá sản phẩm">
                </app-validate-form>
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Số Lượng sản phẩm</label>
                <input type="text" class="form-control" formControlName="quantity" placeholder="Số lượng sản phẩm">

                <app-validate-form [formField]="postForm.get('quantity')" key="Số lượng sản phẩm">
                </app-validate-form>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" style="height: 70px;" formControlName="description"
                    placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Mô tả</label>
            </div>
            <div class="mb-3">
                <label for="" class="label-control d-block">Image</label>
                <label class="file">
                    <input type="file" id="file" aria-label="File browser example" (change)="onFileChange($event)">
                    <span class="file-custom">{{ fileName }}</span>
                </label>
            </div>
            <div class="mb-3">
                <div class="mb-3 form-check form-check-inline">
                    <input class="form-check-input" formControlName="status" type="radio" name="status"
                        id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">Hiện</label>
                </div>
                <div class="mb-3 form-check form-check-inline">
                    <input class="form-check-input" formControlName="status" type="radio" name="status"
                        id="inlineRadio2" value="0">
                    <label class="form-check-label" for="inlineRadio2">Ẩn</label>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="postForm.invalid" type="submit" style="margin-right: 10px">Thêm</button>
            <a routerLink="../" class="btn btn-success">Danh sách</a>
        </form>
    </div>
</div>