.form-switch .form-check-input:checked{
    background-color: green;
}
.form-switch .form-check-input{
    height: 24px;
    width: 42px;
    margin-left: 0;
}
.form-switch .form-check-input:after{
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
}
