<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Pure CSS - Simple Menu Navigation</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
	<style>
	/* Common Styles - Can ignore*/
	body{
	  background:#1b1b2b;
	  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	  padding:10px;
	  text-align:center;
	  font-family: 'Oswald', sans-serif;
	  font-size: 18px;
	}
	h1{
	  color:#212121;
	  font-weight:100;
	}
	.spacer {
	 padding: 30px 0;
	}
	</style>
</head>
<body>
<!-- Style 4 Start -->
	<nav class="style-4">
		<ul class="menu-4">
		  <li><a routerLink="" data-hover="Profile">Profile</a></li>
		  <li><a routerLink="./phones" data-hover="Phones">Phones</a></li>
		  <li><a routerLink="#" data-hover="Blog">Blog</a></li>
		  <li><a routerLink="#" data-hover="Services">Services</a></li>
		  <li><a routerLink="#" data-hover="Products">Products</a></li>
		  <li><a routerLink="#" data-hover="Contact">Contact</a></li>
		</ul>
	</nav>
<!-- Style 4 End -->

</body>
</html>
